@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

#title {
    text-align: center;
    font-family: 'Merriweather';
    color: rgb(34, 32, 32);
    color:rgb(87, 0, 0);
}

#search{
    text-align: center;
    margin-top: 4rem;
}

.container{
  width: 800px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
     border: 1px solid grey;

}
