#searchBar {
    border-radius: 5px;
    border-width: 1px;
    width: 450px;
    margin: 5px;
    padding: 8px 0 8px 2px;
}

#searchBtn {
    border-radius: 5px;
    border: 1px solid grey;
    padding: 8px 5px;
    margin: 0 10px;
    width: 120px;
}

#searchBtn:hover {
    background-color: rgb(104, 104, 238);
}

#repoList{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
}

.repoList-div{
  margin-top: 10px;
  margin: 0 10px;
  border-radius: 10px;
}

#listItem {
    padding: 5px 0;
    color: rgb(88, 3, 3);
}
